<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Page Object Model Suite">
    <test name="Page Object Model Test">
        <classes>
            <class name="PageObjectModel.LoginTest"/>
        </classes>
    </test> <!-- Test -->
</suite> <!-- Suite -->